# Large folders and files to omit
robopianist/
robopianist-rl/
Eureka/
mujoco-usd-converter/
humanoid-pianist/
PianoFingeringDataset_v1.2/
PianoFingeringDataset_v1.2.zip
__MACOSX/

# Large media files
*.mov
*.mp4
allegroHand.usda
exports.zip
exports.zip.local

# Large directories
convert/
exports/
recordings/

# Log files
test_output.log

# Thumbnails
.thumbs/

# Python cache
__pycache__/
*.pyc
