# Large folders and files to omit
robopianist/
robopianist-rl/
Eureka/
mujoco-usd-converter/
humanoid-pianist/
PianoFingeringDataset_v1.2/
PianoFingeringDataset_v1.2.zip
__MACOSX/

# Large media files
*.mov
*.mp4
allegroHand.usda
exports.zip
exports.zip.local

# Large directories
convert/
exports/
recordings/
nvidia_assets/

# Large zip files
*.zip
isaac-sim-assets-robots_and_sensors-*.zip

# Log files
test_output.log
*.log
test_run*.log

# Large binary files
*.npy

# Embedded git repositories
unitree_sim_isaaclab/

# Thumbnails
.thumbs/

# Python cache
__pycache__/
*.pyc
